
  <section
    class="flex min-h-screen w-full items-center justify-center text-center">
    <div class="w-full max-w-3xl items-center justify-center">
      <h1 class="">
        <span
          class="mb-12 block rotate-113 text-[120px] font-bold tracking-[.025em]"
          aria-hidden="true"
        >
          404
        </span>
        <span class="mb-2 block text-4xl font-bold tracking-wider">¡Uy! Esta página se perdió en el camino 🧭</span>
      </h1>
      <p class=" mb-6 text-xl tracking-wide">
        Pero no te preocupes, puedes volver al inicio o explorar otras secciones....
      </p>
      <div class="flex min-h-4 items-center justify-center">
        <a routerLink="/" class="btn btn-accent">
          Volver
        </a>
      </div>
    </div>
  </section>
